.cover__overlay {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../../images/cover/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 0;
  text-decoration: none;
  color: white;
  justify-content: center;
  
}

.cover__overlay::before {
  content: "";
  background-color: #2a2c2f;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s linear;
    justify-content: center;
    align-items: center;
}

.cover__overlay:hover::before {
  opacity: 0.8;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}

