.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  padding: 0;
  margin: 0;
  margin-top: 7px;
}

@media screen and (max-width: 1280px) {
  .lead__caption {
    margin: 7px 196px 0 100px;
  }
}
@media screen and (max-width: 1279px) {
  .lead__caption {
    margin-top: 7px;
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  .lead__caption {
    margin-top: 8px;
    margin: 7px 0 0;

  }
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-top: 8px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;
  }
}
